<h1 class="headerH1">Browse the Ledger</h1>
<table class="table table-sm ledger">
  <thead>
    <tr>
      <th>Action</th>
      <th>Amount</th>
      <th>Value</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trans of transactions; i as index">
      <td>{{ trans.action }}</td>
      <td>{{ trans.amount }}</td>
      <td>{{ trans.value }}</td>
      <td>
        <button type="button" class="btn btn-secondary btn-sm" (click)="setSingle(trans)" [routerLink]="['/details']">Details</button>
      </td>
    </tr>
  </tbody>
</table>