    <header>
        <img src="http://pinegrow.com/placeholders/img17.jpg" alt="" style="width: 100%;">
        <button type="button" [routerLink]="['home']" class="btn headerBtns btn-sm homeBtn btn-secondary">Home</button>
        <button type="button" [routerLink]="['mine']" class="btn headerBtns btn-sm minBtn btn-secondary">Mine Coins</button>
        <button type="button" [routerLink]="['buy']" class="btn headerBtns btn-sm buyBtn btn-secondary">Buy Coins</button>
        <button type="button" [routerLink]="['sell']" class="btn headerBtns btn-sm sellBtn btn-secondary">Sell Coins</button>
        <button type="button" [routerLink]="['ledger']" class="btn headerBtns btn-sm ledgerBtn btn-secondary">Browse Ledger</button>
    </header>
<router-outlet></router-outlet>
